<section class="flex flex-wrap justify-center">
  <div class="p-8 mt-8 mb-8 w-full max-w-7xl">
    <div
      class="flex flex-wrap items-center flex-col-reverse justify-between lg:flex-row"
    >
      <div class="w-full lg:pr-12 lg:w-1/2">
        <div class="max-w-md">
          <div class="max-w-sm mx-auto">
            <h1>
              <span class="max-w-sm">
                {{svg-jar
                  "ember"
                  class="h-full w-auto max-w-full fill-current"
                  height="auto"
                  width="125px"
                }}
              </span>

              Math Helpers
            </h1>

            <p
              class="mt-4 xl:mt-6 mb-2 leading-small mx-auto tracking-tight text-large-1 md:text-large-2 xl:text-large-3"
            >
              Just a simple addon for doing basic arithmetic operations with
              Ember and HTMLBars
            </p>

            <LinkTo
              @route="docs"
              class="no-underline text-brand text-xs px-3 py-2 rounded mt-4 shadow-md hover:shadow-lg transition hover:nudge-t font-bold inline-block uppercase"
            >
              Read the docs →
            </LinkTo>
          </div>
        </div>
      </div>

      <div class="w-full text-center lg:pr-12 lg:w-1/2 lg:p-12">
        {{svg-jar "ember-math-helpers"}}
      </div>
    </div>
  </div>
</section>