<DocsViewer as |viewer|>
  <viewer.nav as |nav|>
    <nav.section @label="Introduction" />
    <nav.item @label="Introduction" @route="docs.index" />
    <nav.item @label="Usage" @route="docs.usage" />

    <nav.section @label="Playground" />
    <nav.item @label="Playground" @route="docs.playground" />
  </viewer.nav>

  <viewer.main>
    <div class="docs-container">
      <div class="docs-section">
        {{outlet}}
      </div>
    </div>
  </viewer.main>
</DocsViewer>